name: Lint

on:
  workflow_call:
    secrets:
      githubToken:
        required: true

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          registry-url: https://npm.pkg.github.com
          scope: '@monitr'
          node-version: 18
          cache: npm
      - run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.githubToken }}
      - name: Run linter
        run: npm run lint
